body {
    margin: 1em;
    font-size: 11px;
    font-family: Arial;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
input.q {
    border: 1px solid black;
    width: 80%;
}
div.result {
    margin-bottom: 1em;
    border-top: 1px dotted gray;
}
div.result .title {
    font-weight: bold;
}
.logo {
    font-weight: bold;
}
.logo a {
    text-decoration: none;
}
.r { color: red; }
.g { color: green; }
.b { color: blue; }

b.match {
    background: yellow;
}
div.image {
    float: left;
    margin-right: 10px;
}
div.essay {
    clear: both;
}