.block {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    padding: 0;
    margin: 0
    }
.block1 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-left-width: 1pt;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    padding: 0 0 1pt;
    margin: 0
    }
.calibre {
    color: black;
    display: block;
    font-family: "Calibri", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    padding: 0;
    margin: 0
    }
.calibre2 {
    display: block;
    page-break-after: always;
    padding: 0;
    margin: 0
    }
.calibre3 {
    display: block;
    page-break-after: always
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    white-space: pre-wrap
    }
.tab {
    white-space: pre
    }
.text {
    display: block;
    font-weight: bold;
    padding: 0;
    margin: 0
    }
.text1 {
    background-color: yellow
    }
.text2 {
    font-family: "Calibri", serif;
    font-size: 1.33333em
    }
.text3 {
    font-family: "Cambria", serif;
    font-size: 1.5em;
    line-height: 1.2
    }
.text4 {
    font-family: "Calibri", serif;
    font-size: 1.33333em;
    font-weight: bold
    }
.text5 {
    background-color: yellow;
    font-weight: bold
    }
.text6 {
    font-family: "Helvetica", serif;
    font-size: 1.5em;
    line-height: 1.2
    }
