.block {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block1 {
    display: block;
    font-size: 0.75em;
    line-height: 1.15;
    text-indent: 0;
    padding: 0;
    margin: 0 0 0 36pt
    }
.block2 {
    display: block;
    font-size: 0.75em;
    line-height: 1.15;
    padding: 0;
    margin: 0
    }
.block3 {
    background-color: #FF0;
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block4 {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 0.75em;
    line-height: 1.15;
    padding: 0;
    margin: 0
    }
.block5 {
    color: black;
    display: block;
    font-size: 0.75em;
    line-height: 1.15;
    padding: 0;
    margin: 0
    }
.block6 {
    display: block;
    padding: 0;
    margin: 0 0 10pt
    }
.block7 {
    color: black;
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block8 {
    color: #00000A;
    line-height: 1.2
    }
.block9 {
    color: #00000A;
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block10 {
    color: #00000A;
    display: block;
    padding: 0;
    margin: 0
    }
.block11 {
    color: black;
    display: block;
    font-size: 0.75em;
    text-indent: 36pt;
    padding: 0;
    margin: 0
    }
.block12 {
    color: #00000A
    }
.block13 {
    color: #00000A;
    display: block;
    font-size: 0.75em;
    text-indent: 36pt;
    padding: 0;
    margin: 0
    }
.block14 {
    display: block;
    font-size: 0.75em;
    text-indent: 36pt;
    padding: 0;
    margin: 0
    }
.block15 {
    color: #00000A;
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre {
    color: #000;
    display: block;
    font-family: serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    text-decoration: none
    }
.calibre2 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre3 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre4 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre5 {
    display: block;
    margin-left: 40px;
    page-break-after: always
    }
.calibre6 {
    display: block;
    margin-left: 40px;
    page-break-after: avoid
    }
.notes {
    display: block;
    margin: 1em 0
    }
.notes-header {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    page-break-before: always;
    padding: 0;
    margin: 0
    }
.tab {
    white-space: pre
    }
.table {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-right: auto;
    margin-top: 0;
    text-indent: 0;
    border: #000 solid 1pt
    }
.table1 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-right: auto;
    margin-top: 0;
    text-indent: 0;
    border-top: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt
    }
.td {
    background-color: #FFF;
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 183pt;
    padding: 0.5ex 0;
    border: #000 solid 1pt
    }
.td1 {
    background-color: #FFF;
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 116pt;
    padding: 0.5ex 0;
    border-top: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt
    }
.td2 {
    background-color: #FFF;
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 116pt;
    padding: 0.5ex 5.4pt;
    border-top: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt
    }
.td3 {
    background-color: #FFF;
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 119pt;
    padding: 0.5ex 5.4pt;
    border: #000 solid 1pt
    }
.td4 {
    background-color: #FFF;
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 232pt;
    padding: 0.5ex 0;
    border-top: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt
    }
.td5 {
    background-color: #FFF;
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 235pt;
    padding: 0.5ex 5.4pt;
    border: #000 solid 1pt
    }
.text {
    font-size: 1.33333em;
    line-height: 1.2
    }
.text1 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.text2 {
    background-color: #FFF;
    line-height: 1.2
    }
.text3 {
    color: #000;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text4 {
    color: #00000A;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text5 {
    color: #000;
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.text6 {
    background-color: #FFF;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text7 {
    background-color: #FFF;
    color: #000;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text8 {
    background-color: #FFF;
    color: #00000A;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text9 {
    color: #333;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text10 {
    color: #1C1C1C;
    line-height: 1.2
    }
.text11 {
    color: #000;
    line-height: 1.2
    }
.text12 {
    color: #000
    }
.text13 {
    font-size: 1.33333em
    }
.text14 {
    font-size: 1em
    }
.text15 {
    color: #00000A;
    font-size: 1.33333em
    }
.text16 {
    color: #00000A;
    font-size: 1em
    }
.text17 {
    color: #000;
    font-size: 1em
    }
.text18 {
    color: #1C1C1C
    }
.tr {
    display: table-row;
    min-height: 14pt;
    page-break-inside: avoid;
    vertical-align: inherit
    }
.tr1 {
    display: table-row;
    min-height: 176pt;
    page-break-inside: avoid;
    vertical-align: inherit
    }
.tr2 {
    display: table-row;
    min-height: 17pt;
    page-break-inside: avoid;
    vertical-align: inherit
    }
.tr3 {
    display: table-row;
    min-height: 192pt;
    page-break-inside: avoid;
    vertical-align: inherit
    }
.tr4 {
    display: table-row;
    min-height: 208pt;
    page-break-inside: avoid;
    vertical-align: inherit
    }
