.block {
    background-color: transparent;
    display: block;
    letter-spacing: 0;
    text-align: left;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block1 {
    background-color: transparent;
    display: block;
    text-align: left;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block2 {
    background-color: transparent;
    color: black;
    display: block;
    text-align: left;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block3 {
    background-color: transparent;
    display: block;
    font-family: "Times New Roman", serif;
    letter-spacing: 0;
    text-align: left;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block4 {
    background-color: transparent;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.75em;
    letter-spacing: 0;
    text-align: left;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block5 {
    background-color: transparent;
    display: block;
    font-size: 0.75em;
    letter-spacing: 0;
    text-align: left;
    text-indent: 36pt;
    padding: 0;
    margin: 0
    }
.block6 {
    background-color: transparent;
    display: block;
    font-size: 0.75em;
    text-align: left;
    text-indent: 36pt;
    padding: 0;
    margin: 0
    }
.calibre {
    color: #000;
    display: block;
    font-family: serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    text-decoration: none
    }
.calibre2 {
    white-space: pre-wrap
    }
.calibre3 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre4 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre5 {
    display: block;
    margin-left: 40px;
    page-break-after: always
    }
.calibre6 {
    display: block;
    margin-left: 40px;
    page-break-after: avoid
    }
.noteref {
    font-size: 0.77778em;
    line-height: normal;
    vertical-align: super
    }
.notes {
    display: block;
    margin: 1em 0
    }
.notes-header {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    page-break-before: always;
    padding: 0;
    margin: 0
    }
.text {
    background-color: transparent;
    letter-spacing: 0
    }
.text1 {
    background-color: transparent;
    font-size: 0.75em;
    letter-spacing: 0;
    line-height: normal;
    vertical-align: super
    }
.text2 {
    background-color: transparent;
    color: #000;
    letter-spacing: 0
    }
.text3 {
    background-color: transparent;
    color: #F500FF;
    letter-spacing: 0
    }
.text4 {
    background-color: transparent;
    color: #000;
    font-size: 0.75em;
    letter-spacing: 0;
    line-height: normal;
    vertical-align: super
    }
.text5 {
    background-color: transparent;
    font-size: 1em;
    letter-spacing: 0
    }
.text6 {
    background-color: transparent;
    font-size: 1.33333em;
    letter-spacing: 0
    }
