.block {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    padding: 0;
    margin: 0
    }
.block1 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block2 {
    color: #000;
    display: block;
    font-style: italic;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block3 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block4 {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block5 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block6 {
    display: list-item;
    line-height: 1.2;
    margin-left: 36pt
    }
.block7 {
    display: list-item;
    line-height: 1.2;
    margin-left: 72pt
    }
.block8 {
    color: #000;
    display: block;
    font-style: italic;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 0 0.65pt
    }
.block9 {
    color: #000;
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block10 {
    color: #000;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block11 {
    color: #000;
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 0 0.65pt
    }
.block12 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block13 {
    color: black;
    display: block;
    line-height: 1.2;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block14 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.2;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block15 {
    display: block;
    line-height: 1.2;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block16 {
    color: black;
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.block17 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.2;
    page-break-before: always;
    padding: 0;
    margin: 0
    }
.block18 {
    display: block;
    font-size: 0.75em;
    padding: 0;
    margin: 0
    }
.block19 {
    color: black;
    display: block;
    font-size: 0.75em;
    padding: 0;
    margin: 0
    }
.block20 {
    color: black;
    display: block;
    font-size: 0.75em;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block21 {
    display: block;
    font-size: 0.75em;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.calibre {
    color: #00000A;
    display: block;
    font-family: "Calibri", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre2 {
    text-decoration: none
    }
.calibre3 {
    font-style: italic;
    line-height: 1.2
    }
.calibre4 {
    line-height: 1.2
    }
.calibre5 {
    display: block;
    padding: 0;
    margin: 0
    }
.calibre6 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre7 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.calibre8 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre9 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre10 {
    display: block;
    margin-left: 40px;
    page-break-after: always
    }
.calibre11 {
    font-style: italic
    }
.calibre12 {
    white-space: pre-wrap
    }
.calibre13 {
    display: block;
    margin-left: 40px;
    page-break-after: avoid
    }
.list {
    display: block;
    list-style-type: disc;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    margin: 0
    }
.list1 {
    display: block;
    list-style-type: circle;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    margin: 0
    }
.list2 {
    display: block;
    list-style-type: decimal;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    margin: 0
    }
.noteref {
    font-size: 0.77778em;
    line-height: normal;
    vertical-align: super
    }
.notes {
    display: block;
    margin: 1em 0
    }
.text {
    font-size: 0.75em;
    font-style: italic;
    line-height: normal;
    vertical-align: super
    }
.text1 {
    color: #00000A;
    line-height: 1.2
    }
.text2 {
    color: #262626;
    line-height: 1.2
    }
.text3 {
    color: #262626;
    font-style: italic;
    line-height: 1.2
    }
.text4 {
    color: #000;
    line-height: 1.2
    }
.text5 {
    color: #00000A
    }
.text6 {
    color: #000
    }
.text7 {
    color: #262626
    }
.text8 {
    color: #262626;
    font-style: italic
    }
.text9 {
    color: black
    }
.text10 {
    color: black;
    font-style: italic
    }
.text11 {
    color: #00000A;
    font-style: italic
    }
.text12 {
    background-color: #FF0
    }
